{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Florarie</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>

<h1>Florarie</h1>
<table>
    <h1>
        <div id="tabs">
            <ul>
                <li><a href="{% url 'index' %}">Acasa</a></li>
                <li><a href="{% url 'produse' %}">Toate produsele</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </h1>
</table>

{% block content %}
{% endblock content %}

<script src="{% static 'main.js' %}"></script>
</body>
</html>